/* Global */

body {
  background-color: #f9fafb;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  position: relative;
}

/* Main styles */

.main-bg-color {
  background-color: #fafaf9;
}

.hero {
  background-image: url(./assets/hero-img.jpg);
  width: 100vw;
  height: 500px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.hero-text {
  padding: 0;
  margin: 0;
  color: #fff;
  width: 50%;
}

.hero-h1 {
  color: #f7fafc;
  font-size: 64px;
  line-height: 60px;
  font-weight: 900;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
}

.hero-p {
  color: #cbd5e0;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 20px;
}

.main-heading {
  margin-bottom: 40px;
  margin-top: 40px;
}

.main-btn {
  padding: 10px 15px 10px 15px;
  border: none;
}

.admin-title-container {
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  padding: 4rem 0 4rem 0;
  background-color: #fff;
}

.admin-overview-container {
  padding: 2rem 0 2rem 0;
  background-color: #fff;
  height: 100vh;
}

.product-image {
  height: 40px;
  width: auto;
}

.product-image-tooltip {
  height: 400px;
  width: auto;
}

.btn-icon {
  color: #fff;
  height: 20px;
  width: 20px;
}

.icon {
  color: #333;
  height: 20px;
  width: 20px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

#dropdown-menu {
  display: none;
}

.card {
  width: 100%;
}

.card:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.character-card {
  text-align: center;
}

.character-card h3 {
  font-weight: 600;
}

.character-card img {
  border-radius: 50%;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-text {
  font-weight: 600;
  font-family: Montserrat, 'sans-serif';
  font-size: 24px;
}

.chevron-btn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  color: #007bff;
}

.btn-text {
  margin-right: 8px;
}

.game-details {
  display: flex;
  margin-top: 80px;
}

.game-details-desc {
  margin-left: 40px;
  color: #4a5568;
}

.game-details-desc h2 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #2d3748;
}

.game-details-desc p {
  font-weight: 600;
}

.game-details img {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.desc-gray {
  color: #718096;
  font-weight: 400;
}

.characters-in-game {
  margin-top: 25px;
}

.character-details {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.character-details img {
  border-radius: 50%;
}

.character-details-desc {
  margin-left: 40px;
  color: #4a5568;
}

.character-details-desc h2 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #2d3748;
}

.character-details-desc p {
  font-weight: 600;
}

.game-hero {
  background-image: url(./assets/games.jpg);
  width: 100vw;
  height: 500px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.game-hero h2 {
  font-size: 72px;
  font-weight: 700;
  font-family: Montserrat, 'sans-serif';
  color: #fafaf9;
  background-color: rgba(0, 123, 255, 0.9);
  padding: 2rem;
  border-radius: 4px;
  text-align: center;
}

.character-hero {
  background-image: url(./assets/super-smash.png);
  width: 100vw;
  height: 500px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  text-align: center;
}

.character-hero h2 {
  font-size: 72px;
  font-weight: 700;
  font-family: Montserrat, 'sans-serif';
  color: #fafaf9;
  background-color: rgba(0, 123, 255, 0.9);
  padding: 2rem;
  border-radius: 4px;
}

.footer {
  width: 100%;
  text-align: center;
}

/* Media queries */

/* Large screens */
@media only screen and (max-width: 1024px) {
  .hero-text {
    width: 70%;
  }
}

/* Medium screens */
@media only screen and (max-width: 768px) {
  .hero-h1 {
    font-size: 52px;
    line-height: 50px;
  }
  .hero-p {
    font-size: 16px;
  }
}

/* Small screens */
@media only screen and (max-width: 640px) {
  .hero-text {
    width: 100%;
  }
  #main-navigation {
    display: none;
  }
  #dropdown-menu {
    display: block;
  }
}

/* Mobile screens */
@media only screen and (max-width: 375px) {
}
